<!-- Thank you -->
<div
  class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
>
  <i class="bi bi-shield-fill-check text-gilead-primary text-6xl"></i>
  <h1 class="sm:text-3xl text-gilead-primary mb-auto text-2xl">Thank you</h1>

  <p class="text-sm sm:text-xl font-light leading-8 text-gray-400 text-center">
    We appreciate you sharing your initial travel plans and choosing Gilead
    summit holidays. We will be in touch shortly to discuss your travel plans in
    more detail.
  </p>
</div>
