<app-header [backgroundImage]="destinationSingle.image">
  <h1
    class="font-bold tracking-wider text-gilead-primary font-kaushan text-3xl leading-relaxed"
  >
    {{ destinationSingleCountry.name }}
  </h1>
  <h1
    class="mt-6 font-bold uppercase sm:text-6xl text-3xl leading-normal tracking-wider text-white border-r-4 border-l-4 border-gilead-primary p-5"
  >
    {{ destinationSingle?.name }}
  </h1>
  <div
    class="flex items-start justify-center sm:mx-auto gap-3 text-start mt-14 text-lg"
  >
    <a
      routerLink="/"
      class="text-white mb-auto text-base hover:text-gilead-primary"
      >Home</a
    >
    <h1 class="text-gilead-primary mb-auto">></h1>

    <a
      routerLink="/destination"
      class="text-white mb-auto hover:text-gilead-primary"
      >Destinations</a
    >
    <h1 class="text-gilead-primary mb-auto">></h1>
    <h1 class="text-white font-extrabold tracking-widest mb-auto capitalize">
      {{ destinationSingle.name | lowercase }}
    </h1>
  </div>
</app-header>
<!-- <section class="mx-auto space-y-16 w-screen">
  <div class="flex gap-20 items-center justify-center bg-orange-100 sticky">
    <a
      href="#"
      class="block max-h-fit py-5 text-zinc-800 hover:text-gilead-primary uppercase text-sm tracking-[0.2rem] md:bg-transparent font-bold md::text-white"
      aria-current="page"
    >
      overview
    </a>
    <a
      href="#"
      class="block max-h-fit py-5 text-zinc-800 hover:text-gilead-primary uppercase text-sm tracking-[0.2rem] md:bg-transparent font-bold md::text-white"
      aria-current="page"
    >
      map</a
    >
    <a
      href="#"
      class="block max-h-fit py-5 text-zinc-800 hover:text-gilead-primary uppercase text-sm tracking-[0.2rem] md:bg-transparent font-bold md::text-white"
      aria-current="page"
    >
      wildlife</a
    >
    <a
      href="#"
      class="block max-h-fit py-5 text-zinc-800 hover:text-gilead-primary uppercase text-sm tracking-[0.2rem] md:bg-transparent font-bold md::text-white"
      aria-current="page"
      >trip ideas</a
    >
    <a
      href="#"
      class="block max-h-fit py-5 text-zinc-800 hover:text-gilead-primary uppercase text-sm tracking-[0.2rem] md:bg-transparent font-bold md::text-white"
      aria-current="page"
      >Best Time To go</a
    >
    <a
      href="#"
      class="block max-h-fit py-5 text-zinc-800 hover:text-gilead-primary uppercase text-sm tracking-[0.2rem] md:bg-transparent font-bold md::text-white"
      aria-current="page"
      >Accommodation</a
    >
  </div>
</section> -->
<!-- Destination Detail Section -->
<section class="bg-white mx-auto px-5 py-32 space-y-16 w-screen">
  <!-- Destination Detail -->
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Explore {{ destinationSingle.name }}
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      {{ destinationSingle.name }}
    </h1>
    <p
      class="mt-6 text-xl font-light leading-8 text-gray-500 max-w-7xl text-center overscroll-auto"
    >
      {{ destinationSingle.description }}
    </p>
  </div>
  <div class="relative w-full aspect-w-16 aspect-h-10 bg-gray-900">
    <div class="absolute inset-0 flex items-center justify-center">
      <svg
        class="w-16 h-16 text-gilead-primary"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path d="M6 4l15 8-15 8V4z" fill="currentColor" />
      </svg>
    </div>
  </div>
</section>
<!-- highlight and activities Section -->
<section class="bg-zinc-800 mx-auto px-5 py-32 space-y-16 w-screen">
  <!-- highlight and activities Detail -->
  <div
    class="flex shadow-2xl sm:flex-row flex-cols items-center justify-between sm:mx-5 gap-5 text-center bg-white p-10"
  >
    <div class="space-y-5">
      <h1
        class="uppercase text-start text-xl font-extrabold tracking-widest text-zinc-800"
      >
        HighLight
      </h1>
      <ul class="text-start flex flex-col gap-5">
        <li
          *ngFor="let destinationHiglight of destinationHiglights"
          class="flex gap-1"
        >
          <i
            class="bi bi-check-circle-fill text-gilead-primary tracking-[1rem] text-xl"
          ></i>
          <strong class="text-zinc-500 font-medium text-lg">{{
            destinationHiglight.highlight_title
          }}</strong>
          <hr />
        </li>
      </ul>
    </div>
    <div class="space-y-5">
      <h1
        class="uppercase text-start text-xl font-extrabold tracking-widest text-zinc-800"
      >
        ICONIC ACTIVITIES
      </h1>
      <ul class="text-start flex flex-col gap-5">
        <li
          *ngFor="let destinationHighlight of destinationHiglights"
          class="flex gap-1"
        >
          <i
            class="bi bi-check-circle-fill text-gilead-primary tracking-[1rem] text-xl"
          ></i>
          <strong class="text-zinc-500 font-medium text-lg">{{
            destinationHighlight.highlight_title
          }}</strong>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- DESTINATION MAP -->
<section class="bg-zinc-800 mx-auto px-5 py-5 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Explore More
    </h1>
    <h1
      class="uppercase text-white tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      {{ destinationSingle.name }} map
    </h1>
    <!-- <img [src]="destinationSingle.destination_map" alt="" /> -->
  </div>
</section>

<section class="bg-zinc-50 mx-auto px-5 py-5 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Enriching encounters
    </h1>
    <h1
      class="uppercase text-zinc-900 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      ICONIC WILDLIFE
    </h1>
    <p
      class="mt-6 text-xl font-light leading-8 text-gray-500 max-w-7xl text-center"
    >
      Whether you want to tick the Big Five off your bucket list or seek out
      specific safari species, our expert guides reveal the typical wildlife
      sightings to expect in the Maasai Mara
    </p>
  </div>
  <div class="grid sm:grid-cols-4 grid-cols-2 mt-5 gap-5">
    <div class="p-6 max-w-sm mx-auto flex items-center space-x-4">
      <div class="shrink-0">
        <img
          class="w-24 rounded-md"
          src="https://cdn.mahlatini.com/Wildlife-Icons/_80x80_crop_center-center_80_none/Zebra.png"
          alt="ChitChat Logo"
        />
      </div>
      <div>
        <div class="text-xl font-medium text-black">Zebra</div>
        <p class="text-slate-500">You have a new message!</p>
      </div>
    </div>
    <div class="p-6 max-w-sm mx-auto flex items-center space-x-4">
      <div class="shrink-0">
        <img
          class="w-24 rounded-md"
          src="https://cdn.mahlatini.com/Wildlife-Icons/_80x80_crop_center-center_80_none/Zebra.png"
          alt="ChitChat Logo"
        />
      </div>
      <div>
        <div class="text-xl font-medium text-black">Zebra</div>
        <p class="text-slate-500">You have a new message!</p>
      </div>
    </div>
    <div class="p-6 max-w-sm mx-auto flex items-center space-x-4">
      <div class="shrink-0">
        <img
          class="w-24 rounded-md"
          src="https://cdn.mahlatini.com/Wildlife-Icons/_80x80_crop_center-center_80_none/Zebra.png"
          alt="ChitChat Logo"
        />
      </div>
      <div>
        <div class="text-xl font-medium text-black">Zebra</div>
        <p class="text-slate-500">You have a new message!</p>
      </div>
    </div>
    <div class="p-6 max-w-sm mx-auto flex items-center space-x-4">
      <div class="shrink-0">
        <img
          class="w-24 rounded-md"
          src="https://cdn.mahlatini.com/Wildlife-Icons/_80x80_crop_center-center_80_none/Zebra.png"
          alt="ChitChat Logo"
        />
      </div>
      <div>
        <div class="text-xl font-medium text-black">Zebra</div>
        <p class="text-slate-500">You have a new message!</p>
      </div>
    </div>
  </div>
</section>
