<app-header [backgroundImage]="destinationSingle.image">
  <h1
    class="font-bold tracking-wider text-gilead-primary font-kaushan text-3xl leading-relaxed"
  >
    <!-- {{ destinationSingleCountry.name }} -->
  </h1>
  <h1
    class="mt-6 font-bold uppercase sm:text-5xl text-3xl leading-normal tracking-wider text-white border-r-4 border-l-4 border-gilead-primary p-5"
  >
    {{ destinationSingle?.name }}
  </h1>
  <ul class="flex justify-center mt-10 sm:text-base text-sm items-baseline">
    <li class="after:content-['>'] after:text-gilead-primary after:px-2">
      <a
        routerLink="/"
        class="text-white self-baseline mb-auto text-base hover:text-gilead-primary"
        >Home</a
      >
    </li>
    <li class="after:content-['>'] after:text-gilead-primary after:px-2">
      <a
        routerLink="/destination"
        class="text-white mb-auto hover:text-gilead-primary capitalize"
        >accommodation</a
      >
    </li>
    <li>
      <strong class="capitalize text-white">{{
        destinationSingle?.name | lowercase
      }}</strong>
    </li>
  </ul>
</app-header>

<!-- Destination Detail Section -->
<section class="bg-white mx-auto px-5 py-16 space-y-16 w-screen">
  <!-- Destination Detail -->
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Explore {{ destinationSingle.name }}
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      {{ destinationSingle.name }}
    </h1>
    <p
      class="mt-6 text-xl font-light leading-8 text-gray-400 max-w-7xl text-center"
    >
      {{ destinationSingle.description }}
    </p>
  </div>
  <div class="relative w-full aspect-w-16 aspect-h-10 bg-gray-900">
    <div class="absolute inset-0 flex items-center justify-center">
      <svg
        class="w-16 h-16 text-gilead-primary"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path d="M6 4l15 8-15 8V4z" fill="currentColor" />
      </svg>
    </div>
  </div>
</section>
<!-- highlight and activities Section -->
<section class="bg-zinc-800 mx-auto px-5 py-16 space-y-12 w-screen">
  <!-- highlight and activities Detail -->
  <div
    class="flex sm:flex-row flex-cols items-start justify-between sm:mx-5 gap-5 text-center p-10"
  >
    <div class="space-y-5">
      <h1
        class="uppercase text-start text-xl font-extrabold tracking-widest text-white"
      >
        HighLight
      </h1>
      <ul class="text-start flex flex-col gap-5">
        <li *ngFor="let destinationHiglight of highlights" class="flex gap-1">
          <i
            class="bi bi-check-circle-fill text-gilead-primary tracking-[1rem] text-xl"
          ></i>
          <strong class="text-zinc-400 font-medium text-lg">{{
            destinationHiglight.highlight_title
          }}</strong>
          <hr />
        </li>
      </ul>
    </div>
    <div class="space-y-5">
      <h1
        class="uppercase text-start text-xl font-extrabold tracking-widest text-white"
      >
        Iconic traits
      </h1>
      <ul class="text-start flex flex-col gap-5">
        <li *ngFor="let destinationHighlight of highlights" class="flex gap-1">
          <i
            class="bi bi-check-circle-fill text-gilead-primary tracking-[1rem] text-xl"
          ></i>
          <strong class="text-zinc-400 font-medium text-lg">{{
            destinationHighlight.highlight_title
          }}</strong>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- DESTINATION MAP -->
<section class="bg-white mx-auto px-5 py-16 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Explore More
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      {{ destinationSingle.name }} map
    </h1>
    <!-- <img [src]="destinationSingle.destination_map" alt="" /> -->
  </div>
</section>
<!-- Month Section -->
<section class="bg-zinc-100 mx-auto px-5 py-16 space-y-5 w-screen">
  <!-- Month Description -->
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center mb-16"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Monthly schedule
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      period of visit
    </h1>
  </div>

  <ul class="flex justify-center sm:text-8xl text-sm items-baseline gap-5">
    <li
      [ngClass]="{
        'border-green-300': month.when_to_visit === 'BEST',
        'border-gilead-primary': month.when_to_visit === 'GOOD',
        'border-zinc-600': month.when_to_visit === 'MIXED'
      }"
      class="border-b-4 border-gilead-primary p-2 h-14 w-14 flex items-center justify-center"
      *ngFor="let month of months"
    >
      <a
        routerLink="/"
        class="text-zinc-900 text-sm tracking-widest font-semibold uppercase"
        >{{ month.month }}</a
      >
    </li>
  </ul>
  <ul class="flex justify-center sm:text-base text-sm items-baseline gap-5">
    <li
      class="flex items-center justify-center"
      *ngFor="let monthName of MonthMood"
    >
      <i
        [ngClass]="{
          'text-green-300': monthName === 'BEST',
          'text-gilead-primary': monthName === 'GOOD',
          'text-zinc-600': monthName === 'MIXED'
        }"
        class="bi bi-circle-fill text-gilead-primary tracking-[1rem] text-xl"
      ></i>
      <a
        routerLink="/"
        class="text-zinc-200 text-sm tracking-wide font-semibold uppercase"
        >{{ monthName }}</a
      >
    </li>
  </ul>
</section>

<!-- wildlife Section -->
<section class="bg-zinc-800 mx-auto px-5 py-16 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Enriching encounters
    </h1>
    <h1
      class="uppercase text-white tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      CLASSIC WILD LIFE
    </h1>
    <p
      class="mt-6 text-xl font-light leading-8 text-gray-400 max-w-7xl text-center"
    >
      Whether you want to tick the Big Five off your bucket list or seek out
      specific safari species, our expert guides reveal the typical wildlife
      sightings to expect in the Maasai Mara
    </p>
  </div>
  <div class="grid sm:grid-cols-4 grid-cols-2 mt-8 gap-5">
    <div
      *ngFor="let animal of destinationSingle.wildlife"
      class="px-10 py-4 max-w-sm mx-auto flex items-center space-x-4 border border-gilead-primary rounded-md"
    >
      <div class="text-xl font-semibold tracking-widest text-gilead-primary">
        {{ animal }}
      </div>
    </div>
  </div>
</section>

<!-- Accommodation Section -->
<section class="mx-auto px-5 py-32 space-y-16 w-screen">
  <!-- Your Travel.Our expertise -->
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-3xl text-gilead-primary mb-auto font-kaushan text-2xl">
      We're ready to meet you.
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      Luxurious lodging
    </h1>
    <p
      class="mt-6 text-xl font-light leading-8 text-gray-400 max-w-7xl text-center"
    >
      Our hand-picked properties range from isolated safari camps to top-notch
      resorts, and all have been approved by both our experts and visitors. We
      will select the ideal lodges, hotels, and villas to fit your unique style
      and interests. They are frequently intimate, always spectacular.
    </p>
    <div class="flex items-center justify-center">
      <div class="bg-gilead-primary h-1 w-36"></div>
    </div>
  </div>

  <!-- destination SECTION -->
  <div class="mt-6">
    <div class="grid sm:grid-cols-3 grid-cols-1 px-3">
      <ng-container *ngFor="let accommodation of accommodations">
        <app-accommodation-single
          [accommodationId]="accommodation.id"
          [accommodationUrl]="accommodation.slug"
          [accommodationName]="accommodation.name"
          [accommodationImage]="accommodation.image"
        ></app-accommodation-single>
      </ng-container>
    </div>
    <div class="flex justify-center px-8 capitalize">
      <a
        routerLink="/accommodation"
        class="cursor-pointer bg-gilead-primary font-semibold py-5 px-8 sm:text-xl text-xs leading-8 text-white hover:bg-zinc-800"
      >
        View all Accommodation
      </a>
    </div>
  </div>
</section>
