<div
  class="flex sm:flex-row flex-col justify-between mx-5 py-16 gap-4 border-t-4 border-slate-100"
>
  <div>
    <p
      class="sm:text-lg tracking-wider text-base font-medium leading-8 text-gray-500 max-w-2xl sm:text-start text-center"
    >
      We take pride in crafting custom tours that cater to the unique interests
      and needs of our clients, be it for solo travelers, families or larger
      groups. Our commitment to delivering an exceptional, personalized service
      ensures that you will have a memorable and hassle-free experience with us.
    </p>
  </div>
  <div
    class="flex self-center gap-5 text-gilead-primary text-2xl sm:items-start items-center sm:justify-normal justify-center"
  >
    <a href=""><i class="bi bi-facebook"></i></a>
    <a href=""><i class="bi bi-instagram"></i></a>

    <a href=""><i class="bi bi-pinterest"></i></a>
    <a href=""><i class="bi bi-twitter"></i></a>
  </div>
</div>
