<app-header [backgroundImage]="NotFound">
  <h1
    class="font-bold tracking-wider text-gilead-primary font-kaushan text-3xl leading-relaxed"
  >
    Sorry about that
  </h1>
  <h1
    class="mt-6 font-bold uppercase sm:text-6xl text-3xl leading-normal tracking-wider text-white border-r-4 border-l-4 border-gilead-primary p-5"
  >
    PAGE NOT FOUND
  </h1>
  <ul class="flex justify-center mt-10 text-base items-baseline">
    <li class="after:content-['>'] after:text-gilead-primary after:px-2">
      <a
        routerLink="/"
        class="text-white self-baseline mb-auto text-base hover:text-gilead-primary"
        >Home</a
      >
    </li>
    <li class="after:content-['>'] after:text-gilead-primary after:px-2">
      <strong class="capitalize text-white">Page not Found</strong>
    </li>
  </ul>
  <p
    class="text-xl font-light leading-8 text-white max-w-8xl text-center mt-10"
  >
    Ooppps ! The page you were looking for has either moved or been removed
  </p>
</app-header>
