<nav class="bg-white shadow-lg w-screen">
  <div class="flex flex-wrap items-center justify-between mx-5 p-5">
    <a href="/" class="flex items-center">
      <img
        src="/assets/gilead_new.svg"
        class="h-12 mr-3"
        alt="Gilead Summit Holidays Logo"
      />
    </a>
    <div class="flex md:order-2">
      <a
        routerLink="/enquire/your-trip"
        type="button"
        class="text-gray-50 hidden sm:block font-bold uppercase bg-gilead-primary hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 px-8 py-4 text-center mr-3 md:mr-0"
      >
        plan your trip
      </a>
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 text-gilead-primary rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col leading-7 tracking-wider font-bold text-base p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-transparent md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent"
      >
        <li>
          <a
            (click)="ToggleMegamenu = !ToggleMegamenu"
            class="block uppercase cursor-pointer py-2 pl-3 pr-4 text-zinc-800 text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-zinc-800 md:p-0 md::text-zinc-800"
            aria-current="page"
            >destinations<i class="pi pi-angle-down"></i
          ></a>
          <ng-container>
            <div
              [ngClass]="{
                hidden: !ToggleMegamenu,
                block: ToggleMegamenu
              }"
              id="mega-menu-dropdown"
              class="absolute z-10 grid grid-cols-3 bg-white w-auto mt-9 text-sm shadow-xl"
            >
              <!-- Countries Section -->
              <div
                class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white bg-zinc-800"
              >
                <div class="flex flex-col gap-5">
                  <div
                    class="p-5 text-gilead-primary underline mx-auto underline-offset-4 uppercase text-xl"
                  >
                    <h1>Top destinations</h1>
                  </div>
                  <div
                    *ngFor="let country of countries"
                    class="w-72 max-w-sm mx-auto bg-transparent flex items-center space-x-4"
                  >
                    <a
                      (click)="toCountry(country.slug)"
                      class="flex mx-auto border p-6 border-zinc-700 rounded-md hover:bg-zinc-700 cursor-pointer"
                    >
                      <div class="space-y-2">
                        <div
                          class="text-xl uppercase font-medium text-gilead-primary tracking-widest"
                        >
                          {{ country.name }}
                        </div>
                        <div class="bg-gilead-primary h-1 w-10"></div>
                        <p class="text-zin-400 capitalize text-xs w-44">
                          {{ country.slogan }}
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Destinations Section -->
              <div class="grid grid-cols-2 col-span-2 bg-zinc-100">
                <a
                  *ngFor="let destination of destinations"
                  (click)="todestination(destination.slug)"
                  class="p-6 overflow-hidden w-72 bg-transparent flex justify-start space-x-5 cursor-pointer"
                >
                  <div class="shrink-0 self-center">
                    <img
                      class="h-20 w-20 object-cover rounded-full border-4 border-gilead-primary"
                      [src]="destination.image"
                      alt="ChitChat Logo"
                    />
                  </div>

                  <div
                    class="text-base self-center uppercase font-semibold text-zinc-800 tracking-widest"
                  >
                    {{ destination.name }}
                  </div>
                </a>
              </div>
            </div>
          </ng-container>
        </li>
        <li>
          <a
            routerLink="/itineraries"
            class="block uppercase py-2 pl-3 pr-4 text-zinc-800 text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-zinc-800 md:p-0 md::text-zinc-800"
            aria-current="page"
            >Tours <i class="pi pi-angle-down"></i
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="block uppercase py-2 pl-3 pr-4 text-zinc-800 text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-zinc-800 md:p-0 md::text-zinc-800"
            aria-current="page"
            >Blog
          </a>
        </li>
        <li>
          <a
            routerLink="/about-us"
            class="block uppercase py-2 pl-3 pr-4 text-zinc-800 text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-zinc-800 md:p-0 md::text-zinc-800"
            aria-current="page"
            >About Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
