<nav class="bg-transparent border-b border-zinc-700 w-screen">
  <div class="flex flex-wrap items-center justify-between mx-5 p-5">
    <a href="/" class="flex items-center">
      <img
        src="/assets/gilead_black.svg"
        class="h-12 mr-3"
        alt="Gilead Summit Holidays Logo"
      />
    </a>
    <div class="flex md:order-2">
      <a
        routerLink="/enquire/your-trip"
        type="button"
        class="text-gray-50 hidden sm:block font-bold uppercase bg-gilead-primary hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 px-8 py-4 text-center mr-3 md:mr-0"
      >
        plan your trip
      </a>
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 text-gilead-primary rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col leading-7 tracking-wider font-bold text-base p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-transparent md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent"
      >
        <li>
          <a
            href="#"
            class="block uppercase py-2 pl-3 pr-4 text-white text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-white md:p-0 md::text-white"
            aria-current="page"
            >destinations<i class="pi pi-angle-down"></i
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="block uppercase py-2 pl-3 pr-4 text-white text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-white md:p-0 md::text-white"
            aria-current="page"
            >experience <i class="pi pi-angle-down"></i
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="block uppercase py-2 pl-3 pr-4 text-white text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-white md:p-0 md::text-white"
            aria-current="page"
            >inspiration<i class="pi pi-angle-down"></i
          ></a>
        </li>
        <li>
          <a
            href="#"
            class="block uppercase py-2 pl-3 pr-4 text-white text-sm tracking-[0.2rem] rounded md:bg-transparent md:text-white md:p-0 md::text-white"
            aria-current="page"
            >destinations<i class="pi pi-angle-down"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
