<!-- HEADER SECTION -->
<section>
  <app-top-menu></app-top-menu>
  <app-main-menu></app-main-menu>
</section>

<section class="bg-zinc-100 mx-auto px-5 py-20">
  <div class="flex flex-col items-center justify-items-center">
    <div class="flex flex-col gap-5">
      <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
        a state of calm
      </h1>
      <h1
        class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-6xl"
      >
        PRIVACY POLICY
      </h1>
      <p
        class="text-xl font-light leading-10 text-gray-400 max-w-6xl text-start"
      >
        We must gather, use, and disclose personal data in order to carry out
        our business obligations and operations, such as arranging and managing
        travel arrangements on behalf of our clients. We are devoted to
        preserving the privacy and confidentiality of personal information and
        take several physical, technical, and administrative protections. For
        the purposes of the General Data Protection Regulation (GDPR), we take
        on the role of &quot;data processor&quot; or &quot;data controller&quot;
        for any personal information you give us in the course of our
        interaction. The context of our communication with you and the purpose
        of personal data processing will decide the specific role that is
        played.
      </p>
      <p
        class="text-xl font-light leading-10 text-gray-400 max-w-6xl text-start"
      >
        You acknowledge that if you give us your personal information, this
        Policy will govern how we handle it, and you give us permission to
        gather, use, and disclose your personal information in the ways set
        forth in this Policy. If you disagree with any part of this Policy, you
        must not give us your personal information.
      </p>
      <p
        class="text-xl font-light leading-10 text-gray-400 max-w-6xl text-start"
      >
        You may limit our capacity to offer you with services or have a negative
        impact on the services we can supply you with if you refuse to give us
        your personal information or revoke a consent you have given in
        accordance with this Policy.
      </p>
      <h1
        class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl max-w-xl"
      >
        Information Gathered <span class="text-gilead-primary">Category</span>
      </h1>
      <p
        class="text-xl font-light leading-10 text-gray-400 max-w-6xl text-start"
      >
        Generally speaking, we gather personal data from you in order to
        facilitate your trip bookings and reservations as well as to make
        arrangements on your behalf for travel-related services and/or products.
      </p>
      <p
        class="text-xl font-light leading-10 text-gray-400 max-w-6xl text-start"
      >
        Typically, we handle the following categories of personal data about you
      </p>
      <ul
        class="flex flex-col justify-center sm:text-base text-sm items-baseline gap-5 mx-auto max-w-4xl"
      >
        <li class="flex items-center justify-start">
          <i
            class="bi bi-caret-right-fill text-gilead-primary tracking-[1rem] text-2xl"
          ></i>
          <span
            class="text-zinc-400 text-sm tracking-wide font-semibold uppercase"
            >Passport information</span
          >
        </li>
        <li class="flex items-center justify-start">
          <i
            class="bi bi-caret-right-fill text-gilead-primary tracking-[1rem] text-2xl"
          ></i>
          <span
            class="text-zinc-400 text-sm tracking-wide font-semibold uppercase"
            >Payment account information (credit/debit card details, including
            card type, card number, security number, and expiration date)</span
          >
        </li>
        <li class="flex items-center justify-start">
          <i
            class="bi bi-caret-right-fill text-gilead-primary tracking-[1rem] text-2xl"
          ></i>
          <span
            class="text-zinc-400 text-sm tracking-wide font-semibold uppercase"
            >Information about your dietary needs and health conditions (if
            any)</span
          >
        </li>
        <li class="flex items-center justify-start">
          <i
            class="bi bi-caret-right-fill text-gilead-primary tracking-[1rem] text-2xl"
          ></i>
          <span
            class="text-zinc-400 text-sm tracking-wide font-semibold uppercase"
            >Contact information (such as name, residential/mailing address,
            phone number, and email address)</span
          >
        </li>
      </ul>
      <p class="text-xl font-light leading-10 text-gray-400 max-w-6xl">
        We might also get personal data about you when you get in touch with us
        for other reasons.
      </p>
    </div>
  </div>
</section>
