<app-header [backgroundImage]="itinerary.image">
  <h1
    class="mt-6 font-bold uppercase sm:text-5xl text-3xl leading-loose tracking-widest text-white border-r-4 border-l-4 border-gilead-primary p-5"
  >
    {{ itinerary?.name }}
  </h1>
  <ul class="flex justify-center mt-10 sm:text-base text-sm items-baseline">
    <li class="after:content-['>'] after:text-gilead-primary after:px-2">
      <a
        routerLink="/"
        class="text-white self-baseline mb-auto text-base hover:text-gilead-primary"
        >Home</a
      >
    </li>
    <li class="after:content-['>'] after:text-gilead-primary after:px-2">
      <a
        routerLink="/itineraries"
        class="text-white mb-auto hover:text-gilead-primary capitalize"
        >itineraries</a
      >
    </li>
    <li>
      <strong class="capitalize text-white">{{
        itinerary?.name | lowercase
      }}</strong>
    </li>
  </ul>
</app-header>

<!-- itinerary Detail Section -->
<section class="bg-white mx-auto px-5 py-16 space-y-16 w-screen">
  <!-- itinerary Detail -->
  <div class="flex flex-col items-center justify-center sm:mx-auto gap-5">
    <h1
      class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl text-start"
    >
      Explore {{ itinerary.name | lowercase }}
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-base text-center font-bold sm:text-3xl"
    >
      {{ itinerary.name }}
    </h1>
    <p
      class="mt-6 sm:text-lg text-base font-light leading-8 text-gray-500 max-w-7xl text-center overscroll-auto whitespace-pre-line"
    >
      {{ itinerary.description }}
    </p>
  </div>
  <div class="space-y-4">
    <h1
      class="uppercase text-zinc-800 tracking-widest text-base text-center font-bold sm:text-xl"
    >
      Best time to go
    </h1>

    <ul class="flex justify-center sm:text-base text-sm items-baseline gap-5">
      <li
        [ngClass]="{
          'border-green-300': month.when_to_visit === 'BEST',
          'border-gilead-primary': month.when_to_visit === 'GOOD',
          'border-zinc-600': month.when_to_visit === 'MIXED'
        }"
        class="border-b-4 border-gilead-primary p-2 h-14 w-14 flex items-center justify-center"
        *ngFor="let month of itinerarymonth"
      >
        <a
          routerLink="/"
          class="text-zinc-600 text-sm tracking-widest font-semibold uppercase"
          >{{ month.month }}</a
        >
      </li>
    </ul>
    <ul class="flex justify-center sm:text-base text-sm items-baseline gap-5">
      <li
        class="flex items-center justify-center"
        *ngFor="let monthName of MonthMood"
      >
        <i
          [ngClass]="{
            'text-green-300': monthName === 'BEST',
            'text-gilead-primary': monthName === 'GOOD',
            'text-zinc-600': monthName === 'MIXED'
          }"
          class="bi bi-circle-fill text-gilead-primary tracking-[1rem] text-xl"
        ></i>
        <a
          routerLink="/"
          class="text-zinc-600 text-sm tracking-wide font-semibold uppercase"
          >{{ monthName }}</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-4">
    <h1
      class="uppercase text-zinc-800 tracking-widest text-base text-center font-bold sm:text-xl"
    >
      OverView
    </h1>

    <ul
      class="grid sm:grid-cols-4 justify-center content-evenly sm:divide-x-4 divid sm:text-base text-sm items-baseline sm:gap-28"
    >
      <!-- <li
        *ngIf="itinerary.price"
        class="py-2 px-10 flex flex-col items-center justify-center gap-3"
      >
        <span
          class="flex gap-3 self-center tracking-widest text-zinc-500 capitalize"
        >
          <i class="bi bi-wallet-fill text-gilead-primary text-base"></i>
          Accommodation
        </span>

        <strong class="text-base tracking-widest capitalize text-center"
          >$ {{ itinerary.price }} per person</strong
        >
      </li> -->
      <li class="py-2 px-10 flex flex-col items-center justify-center gap-3">
        <span
          class="flex gap-3 self-center tracking-widest text-zinc-500 capitalize"
        >
          <svg
            fill="#e48e45"
            data-prefix="fas"
            data-icon="bed"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-inline--fa"
            viewBox="0 0 640 512"
            height="19"
            width="19"
          >
            <path
              d="M32 32C49.67 32 64 46.33 64 64V320H288V160C288 142.3 302.3 128 320 128H544C597 128 640 170.1 640 224V448C640 465.7 625.7 480 608 480C590.3 480 576 465.7 576 448V416H64V448C64 465.7 49.67 480 32 480C14.33 480 0 465.7 0 448V64C0 46.33 14.33 32 32 32zM96 208C96 163.8 131.8 128 176 128C220.2 128 256 163.8 256 208C256 252.2 220.2 288 176 288C131.8 288 96 252.2 96 208z"
            ></path>
          </svg>
          Accommodation
        </span>

        <strong class="text-base tracking-widest capitalize text-center">{{
          itinerary.accommodation
        }}</strong>
      </li>
      <li class="py-2 px-10 flex flex-col items-center justify-center gap-3">
        <span
          class="flex gap-3 text-center tracking-widest text-zinc-500 capitalize"
        >
          <i
            class="bi bi-airplane-fill text-gilead-primary text-base rotate-45"
          ></i>
          Departure from
        </span>

        <strong class="text-base tracking-widest capitalize text-center">{{
          itinerary.departureFrom
        }}</strong>
      </li>
      <li class="py-2 px-10 flex flex-col items-center justify-center gap-3">
        <span
          class="flex gap-3 self-center tracking-widest text-zinc-500 capitalize"
        >
          <i class="bi bi-bus-front text-gilead-primary"></i>

          Transportation
        </span>

        <strong class="text-base tracking-widest capitalize">{{
          itinerary.transport
        }}</strong>
      </li>
      <li class="py-2 px-10 flex flex-col items-center justify-center gap-3">
        <span
          class="flex gap-3 self-center tracking-widest text-zinc-500 capitalize"
        >
          <i class="bi bi-clock-fill text-gilead-primary"></i>

          duration
        </span>

        <strong class="text-base tracking-widest capitalize"
          >{{ itinerary.duration }} days</strong
        >
      </li>
    </ul>
  </div>
</section>

<!-- includes and excludes Section -->
<section class="bg-zinc-800 mx-auto px-5 py-16 space-y-12 w-screen">
  <!-- includes and excludes Detail -->
  <div
    class="flex sm:flex-row flex-cols items-start justify-between sm:mx-5 gap-5 text-center p-10"
  >
    <div class="space-y-5">
      <h1
        class="uppercase text-start text-xl font-extrabold tracking-widest text-white"
      >
        Inclusions
      </h1>
      <ul class="text-start flex flex-col gap-5">
        <li *ngFor="let includes of included" class="flex gap-1">
          <i
            class="bi bi-check-circle-fill text-gilead-primary tracking-[1rem] text-xl"
          ></i>
          <strong class="text-zinc-400 font-medium text-lg">{{
            includes.name
          }}</strong>
          <hr />
        </li>
      </ul>
    </div>
    <div class="space-y-5">
      <h1
        class="uppercase text-start text-xl font-extrabold tracking-widest text-white"
      >
        Exclusions
      </h1>
      <ul class="text-start flex flex-col gap-5">
        <li *ngFor="let excludes of excluded" class="flex gap-1">
          <i
            class="bi bi-x-circle-fill text-gilead-primary tracking-[1rem] text-xl"
          ></i>
          <strong class="text-zinc-400 font-medium text-lg">{{
            excludes.name
          }}</strong>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- DAY BY DAY Section -->
<section class="bg-zinc-50 mx-auto px-5 py-32 space-y-16 w-screen">
  <!-- Your Travel.Our expertise -->
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-3xl text-gilead-primary mb-auto font-kaushan text-2xl">
      We're ready to meet you.
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      Day By day
    </h1>
    <div class="flex items-center justify-center">
      <div class="bg-gilead-primary h-1 w-36"></div>
    </div>
  </div>

  <!-- itinerary SECTION -->
  <ul class="relative box-border flex flex-col items-center justify-center">
    <li
      *ngFor="let daybyday of dayByDay; let last = last; let index = index"
      class="max-w-2xl rounded overflow-hidden"
    >
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 left-1.5 border border-white"
      ></div>
      <ng-container *ngIf="!daybyday.image">
        <img
          class="w-full"
          alt="Itinerary Image"
          [src]="daybyday.image"
          [alt]="daybyday.title"
        />
      </ng-container>
      <div
        class="px-6 flex flex-col items-center justify-center bg-white py-9 shadow-md"
      >
        <div
          class="font-bold sm:text-2xl text-base mb-2 tracking-widest uppercase"
        >
          <span class="font-black text-gilead-primary font-kaushan"
            >DAY {{ index + 1 }}</span
          >
          <span class="font-black mx-3">|</span>
          {{ daybyday.title }}
        </div>
        <p
          class="mt-6 text-xl font-light leading-8 text-gray-400 max-w-7xl tracking-wider whitespace-pre-line"
        >
          {{ daybyday.description }}
        </p>
      </div>
      <p
        class="line line--mid tracking-wider text-gilead-primary"
        [ngClass]="{ hidden: last }"
        data-v-19f81089=""
      >
        We keep exploring to
      </p>
    </li>
  </ul>
</section>

<!-- ACTIVITIES Section -->
<section class="bg-white mx-auto px-5 py-16 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Enriching encounters
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      ACTIVITIES
    </h1>
    <p
      class="mt-6 sm:text-lg text-base font-light leading-8 text-gray-500 max-w-7xl text-center overscroll-auto"
    >
      This sample trip offers countless adventures and activities to ensure
      lifetime memories are made. From unforgettable thrills to indulgent
      relaxation, choose those that appeal most and we will curate your perfect
      itinerary.
    </p>
  </div>
  <div class="grid sm:grid-cols-5 grid-cols-2 mt-8 gap-5">
    <div
      *ngFor="let activity of itineraryactivity"
      class="px-10 py-4 max-w-sm mx-auto flex items-center space-x-4 bg-gilead-primary shadow"
    >
      <div class="text-xl font-semibold tracking-widest text-white max-w-5xl">
        {{ activity.name }}
      </div>
    </div>
  </div>
</section>
