<!-- HEADER SECTION -->
<section>
  <app-top-menu></app-top-menu>
  <app-main-menu></app-main-menu>
</section>

<!-- All Itineraries Section -->
<section class="bg-zinc-100 mx-auto px-5 py-20 space-y-16 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Explore Lifetime Itineraries
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      TRIP INSPIRATION
    </h1>
    <p class="text-xl font-light leading-8 text-gray-400 max-w-7xl text-center">
      Every custom gilead summit holidays tour is exhilarating, with magnificent
      animals, incredible natural marvels, attractive beaches, and interesting
      towns. Uncertain about where to go? Experience the excitement with this
      uplifting collection of favorites, whether it's a must-do excursion, a
      milestone celebration, or just a much-needed getaway.
    </p>
  </div>
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center bg-zinz-50"
  >
    <div class="flex items-center space-x-4">
      <label for="destination" class="text-gray-700">Destination:</label>
      <select id="destination" name="destination" class="form-select w-48">
        <option value="">All</option>
        <option value="paris">Paris</option>
        <option value="london">London</option>
        <option value="new-york">New York</option>
        <option value="tokyo">Tokyo</option>
      </select>
      <button
        class="px-4 py-2 text-white bg-blue-500 hover:bg-blue-600 rounded"
      >
        Filter
      </button>
    </div>
  </div>

  <div class="grid sm:grid-cols-4 grid-cols-1 first:ml-20 mt-20">
    <ng-container *ngFor="let itinerary of Itineraries">
      <app-itineraries-single
        [itinerarySlug]="itinerary.slug"
        [itineraryImage]="itinerary.image"
        [itineraryTitle]="itinerary.name"
        [itineraryDescription]="itinerary.description"
        [itineraryPrice]="itinerary.price"
        [itineraryDuration]="itinerary.duration"
        [itineraryDepartureFrom]="itinerary.departureFrom"
        [itineraryDestination]="itinerary.country"
      ></app-itineraries-single>
    </ng-container>
  </div>
  <div>
    <div class="card flex justify-content-center">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </div>
  </div>
</section>
