<!-- HEADER SECTION -->
<section>
  <app-top-menu></app-top-menu>
  <app-main-menu></app-main-menu>
</section>

<!-- All Itineraries Section -->
<section class="bg-zinc-100 mx-auto px-5 py-20 space-y-16 w-screen">
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center"
  >
    <h1 class="sm:text-2xl text-gilead-primary mb-auto font-kaushan text-2xl">
      Explore Lifetime Itineraries
    </h1>
    <h1
      class="uppercase text-zinc-800 tracking-widest text-[22px] font-bold sm:text-4xl"
    >
      TRIP INSPIRATION
    </h1>
    <p class="text-xl font-light leading-8 text-gray-400 max-w-7xl text-center">
      Every custom gilead summit holidays tour is exhilarating, with magnificent
      animals, incredible natural marvels, attractive beaches, and interesting
      towns. Uncertain about where to go? Experience the excitement with this
      uplifting collection of favorites, whether it's a must-do excursion, a
      milestone celebration, or just a much-needed getaway.
    </p>
  </div>
  <div
    class="flex flex-col items-center justify-center sm:mx-auto gap-5 text-center bg-zinz-50"
  >
    <div>
      <form
        action=""
        class="flex items-center space-x-4"
        [formGroup]="filterForm"
        (submit)="filterByCountry()"
      >
        <label
          for="destination"
          class="text-gray-700 uppercase tracking-wider font-bold"
          >Filter by:</label
        >
        <select
          id="destination"
          formControlName="country"
          name="destination"
          class="bg-zinc-100 border text-gray-700 uppercase tracking-wider font-bold focus:border-gilead-primary block w-96 p-3.5"
        >
          <option value="0" class="uppercase font-bold py-8">All</option>
          <option
            *ngFor="let country of Countries"
            [value]="country.id"
            class="uppercase font-bold py-8"
          >
            {{ country.name }}
          </option>
        </select>
        <button
          type="submit"
          class="text-gray-50 font-bold uppercase bg-gilead-primary hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-blue-300 py-3.5 px-10 text-center"
        >
          Filter
        </button>
      </form>
    </div>
  </div>

  <div class="grid sm:grid-cols-4 grid-cols-1 first:ml-20 mt-20">
    <ng-container *ngFor="let itinerary of filteredItineraries">
      <app-itineraries-single
        [itinerarySlug]="itinerary.slug"
        [itineraryImage]="itinerary.image"
        [itineraryTitle]="itinerary.name"
        [itineraryDescription]="itinerary.description"
        [itineraryPrice]="itinerary.price"
        [itineraryDuration]="itinerary.duration"
        [itineraryDepartureFrom]="itinerary.departureFrom"
        [itineraryDestination]="itinerary.country"
      ></app-itineraries-single>
    </ng-container>
  </div>
  <!-- <div>
    <div class="card flex justify-content-center">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </div>
  </div> -->
</section>
