@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

html {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  scale: 5rem;
}

/* Hide the scrollbar in non-webkit browsers */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Set the track and thumb colors */
::-webkit-scrollbar-track {
  background-color: #27272a;
}

::-webkit-scrollbar-thumb {
  background-color: #e48e45;
}

/* Set the scrollbar width and height */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
